nextflow.enable.dsl = 2
process.executor = 'local'
params {
    reads = 'data/fastq/*_{R1,R2}*.fastq.gz'
    ref = 'data/ref/ReferencePfGenes.fasta'
    outdir = 'results'
    adapter = 'CTGTCTCTTATACACATCT'
    snpEff = "${baseDir}/utils/snpEff/snpEff.jar"
    script = "${baseDir}/scripts/" 
    threads = 4
    cpu = 4
    memory = '8 GB'
}